node_modules

ncp-debug.log
npm-debug.log
lerna-debug.log

.eslintcache
.stylelintcache
*.map

.vscode

build
dist
coverage

.idea
*.log*
*.patch
*.iws
*.ipr
*.ids
*jar
lib
classes
target
out
csdb.log*
stacktrace.log*
websites/*/plugins/
websites/*/overlays/
services/denormer/src/main/resources/jdbc.properties
git-daemon-export-ok
*/.sonar*
.sonar*
jacoco.exec
*.iml
.project
*/.project
.settings*
*/.settings*
.classpath
*/.classpath
*flattened-pom\.xml*
